<h1>Pages#home</h1>

<% if user_signed_in? %>
  <h3>Hello <%= current_user.username.capitalize %></h3>
  <h4>Your username is: <%= current_user.username %></h4>
  <h4>Your email is: <%= current_user.email %></h4>
  <h4>Are you an admin? &nbsp; <%= current_user.admin %></h4>
  <% else %>
  <h3>Please Log in or Sign up</h3>
<% end %>
