<h1>Add "Worker" review </h1>

<%= render 'form', worker: @worker %>
<br><br>
<div class="container">
  <div class="row">
    <div class="col-9">
      <div class="d-flex justify-content-end">
        <p><%= link_to '< Go Back', workers_path, style:"color:white;" %></p>
      </div>
    </div>
  </div>
</div>
