.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  border-radius: 8%;
}

#navbar-text {
  color:#ff4b96;  
  font-size: 25px;
  text-decoration: none !important;
  &:hover {
    color: #fc85b6;
  }
}